*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab
.gradle/
.kotlin/
temp-wrapper/
gradle-temp/

# Música no utilizada (archivo por si se quiere usar después)
/unused_music/
